@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');


body {
  animation: mayhem 3s;
  animation-iteration-count: infinite;
}

@keyframes mayhem {
  0% { transform: translate(1px, 1px) rotate(0deg);background:red; }
  10% { transform: translate(-1px, -2px) rotate(-1deg);background:yellow; }
  20% { transform: translate(-3px, 0px) rotate(1deg);background:blue; }
  30% { transform: translate(3px, 2px) rotate(0deg);background:pink; }
  40% { transform: translate(1px, -1px) rotate(1deg);background:green; }
  50% { transform: translate(-1px, 2px) rotate(-1deg);background:cyan; }
  60% { transform: translate(-3px, 1px) rotate(0deg);background:pink; }
  70% { transform: translate(3px, 1px) rotate(-1deg);background:fuchsia; }
  80% { transform: translate(-1px, -1px) rotate(1deg);background:purple; }
  90% { transform: translate(1px, 2px) rotate(0deg);background:orange; }
  100% { transform: translate(1px, 0px) rotate(-1deg);background:red; }
}

form{
	font-family: 'Fredoka One', cursive;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    border: solid;
    background: linear-gradient(212deg, rgba(241,241,60,1) 25%, rgba(11,240,209,1) 38%, rgba(254,7,217,1) 55%, rgba(183,16,106,1) 77%, rgba(149,76,116,1) 88%, rgba(249,242,249,1) 100%);
    margin: auto;
    border-radius: 100px;
    color:rgb(241,241,60);
	text-shadow: 1px 0px 2px white;
	margin-top: 20%;

}

select{
	background-color: red;
	border-radius: 30px;
	width: 20%;
	text-align: center;
}

input{
	width: 50%;
	height: 27%;
	padding: 2%;
	margin: 3%;
	font-size: 130%;
	border-radius: 75%;
	background-color: #B91DA3;
	color: #912E2E;
}